body{
 color: navy; font-size: 5;
}

nav{
 font-style: normal;
}

div{background-color: lightgreen;}

span{background-color:blue; color:white;}


p {
 text-align: center;
 color: red;
 background-color: lightsteelblue;
}

h1
(
 font-size: 3m;
)

.myClass
{
  
}

myID
{
  font-size: 1m;
  color: green;
}
